@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-track {
  /* background-color: #e3e3e3; */
  /* #e3e3e3 */
}
/* re_Z27wJwGp_F496LWtL9VM9RBaSj2Xg5RDi */

::-webkit-scrollbar-thumb {
  /* 73,79,86,1 */
  background-color: rgb(102, 102, 102);
  border-radius: 8px;
}

::selection {
  color: white;
  background-color: rgb(102, 102, 102);
}

/* @font-face {
  font-family: "Pretendard";
  font-weight: normal;
  src: url("/fonts/Pretendard-Medium.woff") format("truetype");
} */